html,body { height:100%; }


body {
	min-height: 100%; 
	min-width: 100%;
	height:100% !important;
	background: url(../images/trees.png) no-repeat left bottom fixed;
	 -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow:hidden;
    font-family: Helvetica, Arial
}

#birds {
	z-index: 1;
	position:absolute;
	top:0; bottom:0;
	left:0; right:0;
	overflow: hidden;
}

#film {
	position:absolute;
	top:0; bottom:0;
	left:0; right:0;
	z-index: 10;
	overflow: hidden;
	background: url(../images/oldfilmback-optimised2.png) no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#page {
	position:absolute;
	top:0; bottom:0;
	left:0; right:0;
	overflow-y: scroll;
	overflow-x: none;
	z-index: 10;
}

#main {
	max-width:780px;
	width:100%;
	margin:0 auto;
	padding-top:60px;
}

#content {
	height:1400px;
}

.sprite {
	background: transparent url(../images/sprite.png);
}

#logo {
	font-size:100px;
	width:338px;
	height:132px;	
	margin:0 auto;
	background-position: 0 -8px;
	text-indent: -100000px;
}

#love-life {
	text-align: center;
	font-size: xx-large;
	font-weight: bold;
	font-family: Helvetica, Arial;
	color: #fdc900; /*#E6E3B0;*/
	text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
	cursor:pointer;
	text-decoration: none;
	display:block;
	margin:40px 0;
}

#love-life:hover {
	color:#fdc900;
}

#love-life blockquote:before{
	content:"“";
}

#love-life blockquote:after{
	content:"”";
}

#love-life figcaption {
	font-size:smaller;
}

#app-store {
	width:350px;
	margin:40px auto;
}

#app-store a {
	display:inline-block;
	width:153px;
	height:51px;
	border-radius: 6px;
}

#app-store a:hover {
	box-shadow: 0px 0px 48px rgba(255,255,255,100);
}

#app-store a:active {
	box-shadow: 0px 0px 48px rgba(255,255,255,100);
}

#app-store .play{
	background-position:-188px -395px;
	margin-right:20px;
}
#app-store .iphone{
	background-position:-5px -395px;
	width:162px;
}

#pocketgamer {
	width:135px;
	height:135px;
	text-indent: -10000px;
	display:block;
	margin:50px auto 0;
	text-decoration: none;
	background-position: -399px -10px;
	border-radius: 70px;
}

#pocketgamer:hover, #pocketgamer:active {
	box-shadow: 0px 0px 48px rgba(255,255,255,100);
}


@media (min-width: 800px) {
    #pocketgamer {
    	position:absolute;
    	top:50px;
    	left:50%;
    	margin-left:260px;
    	margin-top:0px;
    }

    #music {
    	margin-top:100px;
    }

}

#video {
    position: relative;
    margin: 20px; 
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}
 
#video iframe,
#video object,
#video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


#music {
	margin:50px 0;
	font-size:xx-large;
	color:white;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
	text-align: center;
	font-family: 'Parisienne', cursive;
}

#carousel {
	margin:0 20px;
	text-align: center;
	overflow: hidden;
	max-height: 450px;
	min-height: 232px;
}

#carousel img {
	width:90%;
}

#contact {
	margin:60px 0;
	text-align: center;
	font-size: large;
	font-weight: bold;
	font-family: Helvetica, Arial;
	color: #fff;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
}

#contact a {
	color:#fdc900; /*#E6E3B0;*/
}

#copyright {
	font-size:smaller;
	text-align: center;
	margin: 120px 0 40px 0;
	color:white;
}

#facebook {
	text-align:center;
	margin:60px auto;
	max-width:600px;
	background: rgba(255,255,255,0.6);
	padding:5px;
	-moz-border-radius: 3px;
	border-radius: 3px;	
}

#iphone-not-ready {
	display : none;
	text-align: center;
	color:white;
	margin-bottom: 20px;

}
#iphone-not-ready em {
	font-family: 'Parisienne', cursive;
	font-size: x-large;
}
#iphone-not-ready h1 {
	font-family: 'Parisienne', cursive;
	font-size: xx-large;
	margin-bottom:20px;
	white-space: nowrap;
}
#iphone-not-ready h1:before {
	content : '⁙— ';
	color:silver;
}
#iphone-not-ready h1:after {
	content : '—⁙ ';
	color:silver;
}

/* modal */
/* Overlay */
#simplemodal-overlay {background-color:#000; }
/* Container */
#simplemodal-container { box-shadow: 0 0 48px #fff; /*width:50%; max-width:80%; max-height:80%; */ color:#bbb; background-color:#000; border:4px solid #fff; padding:12px; border-radius: 5px; opacity:0.8;}
#simplemodal-container .simplemodal-data {padding:8px;}
#simplemodal-container code {background:#141414; border-left:3px solid #65B43D; color:#bbb; display:block; font-size:12px; margin-bottom:12px; padding:4px 6px 6px;}
#simplemodal-container a {color:#ddd;}
#simplemodal-container a.modalCloseImg {width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-16px; cursor:pointer;}
#simplemodal-container h3 {color:#84b8d9;}


@font-face {
    font-family: 'digital_dreamregular';
    src: url('../images/fonts/DIGITALDREAM-webfont.eot');
    src: url('../images/fonts/DIGITALDREAM-webfont.eot?#iefix') format('embedded-opentype'),
         url('../images/fonts/DIGITALDREAM-webfont.woff') format('woff'),
         url('../images/fonts/DIGITALDREAM-webfont.ttf') format('truetype'),
         url('../images/fonts/DIGITALDREAM-webfont.svg#digital_dreamregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

#font-loader{
	/*visibility: hidden;*/
	font-family: digital_dreamregular;
	font-size:20px; color:white;
}

